/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
    body {
        @apply bg-slate-900
    }
} */

/* @layer base{
    * {
        @apply  transition transition-all
    }
} */

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 5px;
      /* height: 20px; */
    }
  
    .scrollbar::-webkit-scrollbar-track {
      /* border-radius: 100vh; */
      @apply bg-slate-900
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      /* background: black;
      border-radius: 100vh;
      border: 3px solid black; */
      @apply border-4 border-solid border-slate-900
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: black;
    }
  }